{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div
  class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  data-testid="ui-test-section"

  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}
>
  <div
    class="content-over-image-section"
    style="
      --desktop-count: {{ section.settings.desktop }};
      --mobile-count: {{ section.settings.mobile }};
      --rg: {{ section.settings.col }}px;
      --cg: {{ section.settings.row }}px;
    "
  >
    {{ children }}
  </div>
</div>

{% schema %}
{
  "name": "Content Over Media",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "row",
      "label": "Row Gap",
      "min": 0,
      "max": 60,
      "default": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "col",
      "label": "Column Gap",
      "min": 0,
      "max": 60,
      "default": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "desktop",
      "label": "Desktop Count",
      "min": 1,
      "max": 5,
      "default": 2
    },
    {
      "type": "select",
      "id": "mobile",
      "label": "Mobile Count",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "block-content-over-media"
    }
  ],
  "presets": [
    {
      "name": "Content Over Media",
      "category": "Custom"
    }
  ]
}
{% endschema %}
