{{ 'content-over-image.css' | asset_url | stylesheet_tag }}

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

<div class="section-background color-{{ section.settings.color_scheme }}"></div>
<div
  class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  data-testid="ui-test-section"

  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}

  style="
    {% if section.settings.section_height == 'custom' %}
      --section-min-height: {{ section.settings.section_height_custom }}svh;
    {% elsif section.settings.section_height == 'full-screen' %}
      --section-min-height: 100svh;
    {% elsif section.settings.section_height != '' %}
      --section-min-height: var(--section-height-{{ section.settings.section_height }});
    {% endif %}

    {% if section.settings.section_height != '' %}
     --section-preview-height: 600px;
     {% endif %}
  "
>
  <div class="custom-section-background">
    {% render 'background-media',
      background_media: section.settings.background_media,
      background_video: section.settings.video,
      background_video_position: section.settings.video_position,
      background_image: section.settings.background_image,
      background_image_position: section.settings.background_image_position
    %}
  </div>

  <div
    class="border-style custom-section-content"
    style="{% render 'border-override', settings: section.settings %}"
  >
    {% if section.settings.toggle_overlay %}
      {% render 'overlay', settings: section.settings, layer: '0' %}
    {% endif %}

    <div
      class="
        spacing-style
        layout-panel-flex
        layout-panel-flex--{{ section.settings.content_direction }}
        section-content-wrapper
        {% if section.settings.vertical_on_mobile %} mobile-column{% endif %}
      "
      style="
        {% render 'layout-panel-style', settings: section.settings %}
        {% render 'spacing-style', settings: section.settings %}
      "
      data-testid="section-content"
    >
      {{ children }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content Over Image",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "desktop",
      "label": "Desktop Count",
      "min": 1,
      "max": 5,
      "default": 2
    },
    {
      "type": "select",
      "id": "mobile",
      "label": "Mobile Count",
      "default": "1",
      "options": [
        {
          "label": "1",
          "value": "1"
        },
        {
          "label": "2",
          "value": "2"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "content-over-image"
    }
  ],
  "presets": [
    {
      "name": "Content Over image",
      "category": "Custom"
    }
  ]
}
{% endschema %}
